@import url("https://fonts.googleapis.com/css?family=Cantarell");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cantarell {
  font-family: Cantarell;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max rounded-md shadow-md
  text-white bg-slate-500 
  text-xs font-bold 
  transition duration-100 scale-0;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

::selection {
  @apply bg-[#f3a183] dark:bg-[#43cea2];
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: repeat(2, auto) repeat(3, 1fr);
  grid-gap: 10px;
  height: calc(100vh - 10px);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Props to Marko --> https://codepen.io/denic/pen/GRoOxbM */
.typing-animation-intro {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
}
.typing-animation-footer {
  animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
}
