@import url("https://fonts.googleapis.com/css?family=Cantarell");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cantarell {
  font-family: Cantarell;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max rounded-md shadow-md
  text-white bg-slate-500 
  text-xs font-bold 
  transition duration-100 scale-0;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
